<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Hello World</p>
    <a href="{{ path('homepage')}}">Super</a>
    <a href="{{ path('homepage')}}">Super</a>
    <a href="#">fsefsef</a>
    <a href="#">Super</a>
    <a href="#">jfpiefe</a>
    <p>Hello World</p>
    <form method="POST">
        <label for="name">name :</label>
        <input type="text" name="name">
        <input type="submit">
    </form>
</body>
</html>